body {
  background-color: rgb(65, 32, 253)
}

#articles {
  padding: 25px;
  background-color: rgba(255, 255, 255, 1);
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 500px;
}

#notes {
  float: right;
  width: 30%;
  margin-right:28px;
  background-color: rgba(255, 255, 255, 1);
}

textarea,
input {
  display: block;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 200px;
  font-size: 18px;
}